@media (max-width: 1430px)
{
    header .carousel .item{
        position: absolute;
        top :250px;
        left: 760px
    }
    #cards .row{
        flex-direction: row;
    } 
}
@media (max-width: 1315px)
{
    .body{
        width: 100%;
    }  
    #cards .row{
        flex-direction: row;
        justify-content: space-around;
    } 
    #cards .card .card-img{
        width: 450px;
    }
    #cards .card{
        flex-direction: column;
    }
}
@media (max-width: 1253px)
{
    header .carousel .item{
        top :250px;
        left: 600px;
    }
    #spotlight .carousel .col{
        display: flex;
        width: 30px;
        height: 40px;
        margin: 0 auto;
        margin-top: 260px;
    }
    #spotlight .row{
        justify-content: left;
        margin-left: auto;
        margin-right: auto;
        overflow-x: auto;
        width: 40%;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
    }
    #spotlight .carousel .row .card{
        scroll-snap-align: center;
    }
    .triangulo{
        left: 169px;
        top: 51px;
    }
    .logo .menu{
        top: 60px;
        left: 130px;
    }
}

@media (max-width: 1088px)
{
    .triangulo{
        left: 119px;
        top: 51px;
    }
    .logo .menu{
        top: 60px;
        left: 100px;
    }
    header .carousel .item{
        left: 450px;
        top :400px;
    }
    .control{
        display: flex;
        position: absolute;
        width: 100%;
        height: 52px;
        top: 695px;
        right: 0;
        flex-wrap: wrap;
    }
    .control h2{
        display: flex;
        writing-mode: initial;
        height: auto;
        margin-left: 15px;
        word-wrap: break-word;
    }
    .control .items-controls{
        justify-content: space-around;
        flex-direction: column;
        width: 40%;
        height: 100%;
        background-color: var(--a);
        border-radius:  0px;
    }
    .control .items-controls .buttons{
        width: 50%;
        flex-direction: row;
        border: none;
        justify-content: space-between;
    }
    .control .items-controls .buttons>img{
        padding: 3px;
    }
    .body{
        width: 100%;
        top: auto;
        margin-top: 45px;
    }  
    #cards .row{
        flex-direction: row;
        margin: 20px;
    } 
    #cards .card{
        margin: 10px;
    }
    #cards .card .card-img>img{
        width: 100%;
    }
    .card .card-title{
        width: auto;
    }
    #spotlight .row{
        width: 50%;
    }
    .button-change{
        margin-top: 30px;
        height: 25px;
        padding: 15px;
    }
    .button-change:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
    .button-change:active{
        border: 0.4px solid rgba(0, 0, 0, 0.3);
    }
    .button-change::before{
        border: 0.4px solid rgba(0, 0, 0, 0.1);
    }
    #slide .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #slide .row .card-slide{
        height: auto;
        border: none;
        box-shadow: 0px 4px 20px 7px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        margin: 60px;
    }
    #slide .row .card .card-img-slide{
        max-width: 350px;
        height: auto;
        border-bottom: 1px solid var(--b);
    }
    #slide .row .card .card-img-slide>img{
        width: 100%;
        height: auto;
    }
    #slide .row .card .description-product-slide{
        display: flex;
        flex-direction: column;
        background: var(--e);
        border-radius: 0px 0px 10px 10px;
        padding: 15px;
    }
    #slide .row .card .description-product-slide .title{
        font-size: 14px;
        color: var(--a);
        line-height: 16px;
        margin: 10px;
    }
    #slide .row .card .description-product-slide .price{
        font-size: 18px;
        color: var(--a);
        line-height: 21px;
        font-weight: 900;
        margin: 10px;
        margin-bottom: 20px;
    }
    #slide .row .card .description-product-slide>button{
        width: 240px;
        height: 52px;
        background: #3EC6E0;
        border-radius: 5px;
        border: none;
        font-size: 18px;
        line-height: 21px;
        margin: 0 auto;
    }
    .slide-products{
        display: flex;
    }
    .confirmation{
        padding-left: 350px;
        padding-top: 100px;
    }
}
@media (max-width: 950px)
{
    header .carousel .item{
        left: 300px;
    }
    nav{
        z-index: 100;
    }
    nav ul li a>span,hr{
        display: none;
    }
    nav ul li a{
        width: 90px;
    }
    .confirmation{
        padding-left: 300px;
        padding-top: 100px;
    }
    nav ul li a .badge{
        display: block;
    }
}

@media (max-width: 800px)
{  
    .logo .menu .x{
        display: block;
    }
    .logo .menu .hr{
        display: block;
        width: 100%;
        height: 1px;
        border: 0.5px solid black !important;
        margin: 5px 0px;
    }
    .logo .menu{
        position: fixed;
        flex-direction: column;
        width: auto;
        height: 100%;
        text-align: center;
        top: 0;
        left: 0px;
        right: 0px;
        padding: 20px;
        padding-bottom: 100%;
    }
    .logo .menu .col li>a{
        font-size: 18px;
    }
    .logo .menu .col li strong>a{
        font-size: 24px;
    }
    .logo .menu .col{
        width: 100%;
    }
    nav .logo{
        display: flex;
        justify-content: space-between;
    }
    header .carousel .item{
        display: flex;
        justify-content: center;
        text-align: right;
        position: absolute;
        left: 300px;
        top: 400px;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .body{
        width: 100%;
    }
    #spotlight .row{
        width: 60%;
    }
    #spotlight .row .card .card-img{
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid var(--b);
    }
    .confirmation{
        padding-left: 250px;
        padding-top: 100px;
    }
}
@media (max-width: 700px)
{
    header .carousel .item{
        left: 300px;
    } 
    nav ul li a{
        justify-content: space-around;
    }
    .confirmation{
        padding-left: 140px;
        padding-top: 100px;
    }
    nav ul li a .badge{
        display: block;
        position: absolute;
        margin-top: 0px;
        margin-left: 40px;
    }
    #spotlight .row{
        width: 70%;
    }
}
@media (max-width: 600px)
{
    header .carousel .item{
        left: 250px;
    } 
    nav ul li a{
        width: 40px;
    }
    nav .logo img{
        height: 23px;
        margin-right: 25px;
    }
    nav{
        margin-left: 5px;
        justify-content: space-around;
    }
    .confirmation{
        padding-left: 80px;
        padding-top: 100px;
    }
    #spotlight .row{
        width: 64%;
    }
    #spotlight .carousel .row .card{
        margin: 30px;
    }
    #spotlight .carousel .row .card .card-img{
        max-width: 300px;
    }
}
@media (max-width: 500px)
{
    nav{
        justify-content: space-around;
    }
    nav .logo img{
        margin-right: 5px;
    }
    nav .logo .icon_logo{
        height: 23px;
    }
    nav .logo{
        margin-right: 0px;
    }
    header .carousel .item{
        position: absolute;
        top :400px;
        left: 200px
    }
    .description{
        width: 375px;
        top: 40;
        left: -100;
    }
    .description .title{
        font-size: 26px;
    }
    .description .price{
        font-size: 48px;
    }
    .description .price>span{
        font-size: 28px;
    }
    .description .descri{
        font-size: 12px;
    }
    #cards .row{
        margin: 20px;
    } 
    #cards .card{
        margin: 10px;
    }
    #cards .card .card-img{
        width: 100%;
        height: auto;
    }
    #cards .card .card-img>img{
        width: 100%;
    }
    #spotlight .row{
        width: 75%;
    }
    #spotlight .carousel .row .card{
        margin: 25px;
    }
    #spotlight .row-title>img{
        height: 27px;
    }
    .confirmation{
        padding-left: 15px;
    }
    .confirmation .card-confir{
        width: 90%;
        margin: 5px;
    }
}
@media (max-width: 396px)
{
    header .carousel .item{
        top :400px;
        left: 150px
    }
    .confirmation{
        padding-left: 5px;
    }
    nav{
        align-items: center;
        align-content: center;
        height: 30px;
        margin-top: 20px;
        width: 99%;
    }
    #spotlight .row{
        width: 95%;
    }
    #spotlight .row-title>img{
        height: 22px;
    }
    #spotlight .carousel .row .card .card-img{
        max-width: 256px;
    }
    .description{
        width: 300px;
        top: 40;
        left: -80;
    }
    .description .title{
        font-size: 20px;
    }
    .description .price{
        font-size: 34px;
    }
    .description .price>span{
        font-size: 18px;
    }
    .description .descri{
        font-size: 12px;
    }
    .confirmation{
        padding-left: 50px;
        padding-top: 100px;
    }
}
@media (max-width: 350px)
{
    .body{
        margin-top: 120px;
    } 
    .control .items-controls{
        flex-direction: row;
        width: 100%;
    }
    header .carousel .item{
        top :350px;
        left: 150px
    }
    nav{
        flex-direction: column;
        justify-content: space-between;
    }
    nav ul li a .badge{
        margin-top: -20px;
        margin-left: 20px;
    }
    .description{
        width: 200px;
        top: 40;
        left: -30;
    }
    .description .title{
        font-size: 20px;
    }
    .description .price{
        font-size: 30px;
    }
    .description .price>span{
        font-size: 14px;
    }
    .description .descri{
        font-size: 12px;
    }
    .confirmation{
        padding-left: 5px;
    }
    #spotlight .row{
        width: 90%;
    }
    #spotlight .row-title>img{
        height: 16px;
    }
    #spotlight .carousel .row .card .card-img{
        max-width: 256px;
    }
}